html{
  font-family: 'Lato', sans-serif;;
  margin: 0 ;
  padding: 0;
  background-color: #f0f0f0;
}

body{
	margin: 0;
	width: 100%;
	height: 100%;
}
main h1{
	font-size: 25px;
}

main th{
	font-size: 20px;
}
main{
	position: relative;
	/*margin-left: 250px;*/
	margin-right: 10px;
	width: auto;
	display: inline-block;
	font-size: 18px;
}

h1{
	margin-left: 100px;
}

table th ,table td{
	text-align: center;
}

table{
	margin-left: 100px;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid black;
}

table thead th{
	height: 40px;
	line-height: 40px;
	border: 3px solid black;
}

table tbody{
	height: 50px;
}

td{
	border: 3px solid black;
	height: 40px;
	line-height: 40px;
}
.boite{
	background-color: #57606f;
	color: #ffffff;
	position: absolute;
	top:100px;
	left:400px;
	border: 3px solid black;
	border-radius: 10px;
	display:none;
	width: 750px;
	height: 530px;
	filter: blur(0);
}
.fermer{
	background-color: #57606f;
	font-size: 2em;
	position: relative;
	top:-55px;
	left:700px;
	display: inline-block;
	border-style: none
}
.fermer:hover{
	cursor: pointer;
}
.boite form{
	margin: 30px;
	position: absolute;
	top: 65px;
}
textarea{
	overflow: scroll;
	resize: none;
	width: 690px;
	height: 350px;
}
.savebut{
	position: relative;
	left:650px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.container{
	position: relative;
	margin-left: 250px;
	margin-right: 10px;
	width: auto;
	display: inline-block;
}