h1{
	font-size: 60px;
	text-decoration: underline;	
}

th{
	font-size: 30px;
}

a:visited{
	text-decoration: none;
	color: #dde1e3;
}
a:ative{
	text-decoration: none;
	color: #dde1e3;
}

nav{
	width: 155px;
	height: 100%;
	background-color: #57606f;
	position: fixed;
}
nav ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
	font-size: 20px;
}
nav li a{
	display: block;
	text-decoration: none;
}

nav li a:hover{
	font-stretch: bold;
	background-color: #ffffff;
	color: #000000;
	text-decoration-line: none;
	cursor: pointer;
	font-weight: bold; 
}

nav li{
	text-align: initial;
	line-height: 2;
}

nav ul li ul{
	display: none;
	font-size: 15px;
}

nav ul li:hover ul{
	display: block;
}

nav ul li {
	display: block;
	border-bottom: 1px solid #000000;
	overflow: block;	
	background: #57606f;
}

nav ul li ul li{
	background: #57606f;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
}

.list{
	
}
