h1{
	font-size: 60px;
	text-decoration: underline;	
}

th{
	font-size: 30px;
}

nav a:visited{
	text-decoration: none;
	color: #f0f0f0;;
}
nav a:active{
	text-decoration: none;
	color: #f0f0f0;
}

nav{
	width: 155px;
	height: 100%;
	background-color: #57606f;
	position: fixed;
	top: 40px;
}
nav ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
	font-size: 20px;
}
nav li a{
	display: block;
	text-decoration: none;
	color: #f0f0f0;
	padding-left: 10px;
}

nav li a:hover{
	font-stretch: bold;
	background-color: #f0f0f0;
	color: #000000;
	text-decoration-line: none;
	cursor: pointer;
	font-weight: bold; 
}

nav li{
	text-align: initial;
	line-height: 2;
}

nav ul li ul{
	display: none;
	font-size: 15px;
}

nav ul li:hover ul{
	display: block;
}

nav ul li {
	display: block;	
	border-bottom: 1px solid #000000;
}

nav ul li ul li{
	background: #57606f;
	border-left: 1px solid #000000;
}
#page{
	position: relative;
}
#wrapper{
	background:silver;
position:absolute;
top:0;
height:1000px;
width:100%;
opacity: 0.8;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter:alpha(opacity=80);
display: none;
}